body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #deeefff5;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.about-section, .team-section {
    margin-bottom: 2rem;
}

.team-member {
    text-align: center;
    margin-top: 1.5rem;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f4f4f4;
}
